* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	align-items: center;
    justify-content: center;
}



canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}